{% extends 'base_chat.html' %}
{% block content %}
{% if user.age < 17 %}
    <div class="nico" align="center">
         <h2>{{ object.day }}のこんだて</h2>
        {% if object.image %}
          <img src="{{ object.image.url }}">
        {% endif %}
        <table border="3" bordercolor="#00bfff" width="350" height="100" align="center">
            <tr bgcolor="#00ffff">
                <th>こんだてないよう</th>
            </tr>
            <tr bgcolor="#f5f5f5">
                <td>{{ object.menu | linebreaksbr }}</td>
            </tr>
        </table>
        <br>
        <table border="3" bordercolor="#00bfff" width="500" height="100" align="center">
            <tr bgcolor="#00ffff">
                <th>せつめい</th>
            </tr>
            <tr bgcolor="#f5f5f5">
                <td>{{ object.explain | linebreaksbr }}</td>
            </tr>
        </table>
        <div class="rightside-contents-form">
            <br>
            <a href="{% url 'timetable:timetable_detail' timetable.id %}">
                <input class="yk-button" type="submit" value="じかんわりページにもどる">
            </a>
        </div>
    </div>
{% else %}
    <div class="kuroro" align="center">
        <h2>{{ object.day }}の献立</h2>
        {% if object.image %}
          <img src="{{ object.image.url }}">
        {% endif %}
        <table border="3" bordercolor="#00bfff" width="350" height="100" align="center">
            <tr bgcolor="#00ffff">
                <th>献立内容</th>
            </tr>
            <tr bgcolor="#f5f5f5">
                <td>{{ object.menu | linebreaksbr }}</td>
            </tr>
        </table>
        <br>
        <table border="3" bordercolor="#00bfff" width="500" height="100" align="center">
            <tr bgcolor="#00ffff">
                <th>説明</th>
            </tr>
            <tr bgcolor="#f5f5f5">
                <td>{{ object.explain | linebreaksbr }}</td>
            </tr>
        </table>
        <div class="rightside-contents-form">
            <br>
            <a href="{% url 'timetable:timetable_detail' timetable.id %}">
                <input class="yk-button" type="submit" value="時間割詳細ページに戻る">
            </a>
        </div>
    </div>
{% endif %}
{% endblock %}