{% extends 'base_chat.html' %}
{% block content %}
{% if user.age < 17 %}
    <div class="nico">
       <h1 align="center">じかんわりいちらんページ</h1>
        <div class="col-8">
            <table border="3" bordercolor="#00bfff" align="center" width="300" height="200">
            <tr bgcolor="#00ffff" align="center">
                <th>ひづけ</th>
            </tr>
            {% for timetable in timetable %}
                <tr bgcolor="#f5f5f5" align="center">
                    <div class="border">
                        <td><a href="{% url 'timetable:timetable_detail' timetable.id %}">{{ timetable.day }}</a></td>
                    </div>
                </tr>
            {% endfor %}
            </table>
            <br>
        </div>
        <div class="rightside-contents-form">
             <p align="center">しぼりこみ</p>
            {% for year_month in year_month_list %}
                <div align="center">
                    <a href="{{ year_month.link }}">{{ year_month.label }}</a>
                </div>
            {% endfor %}
            <br>
            <br>
        </div>
    </div>
    </div>
{% else %}
    <div class="kokoro">
        <h1 align="center">時間割一覧ページ</h1>
        <div class="col-8">
            <table border="3" bordercolor="#00bfff" align="center" width="300" height="200">
            <tr bgcolor="#00ffff" align="center">
                <th>日付</th>
                <th>更新</th>
                <th>削除</th>
            </tr>
            {% for timetable in timetable %}
                <tr bgcolor="#f5f5f5" align="center">
                    <div class="border">
                        <td><a href="{% url 'timetable:timetable_detail' timetable.id %}">{{ timetable.day }}</a></td>
                            <td><a href="{% url 'timetable:timetable_update' timetable.id %}">更新</a></td>
                            <td><a href="{% url 'timetable:timetable_delete' timetable.id %}">削除</a></td>
                    </div>
                </tr>
            {% endfor %}
            </table>
            <br>
        </div>
        <div class="rightside-contents-form">
             <p align="center">絞り込む</p>
            {% for year_month in year_month_list %}
                <div align="center">
                    <a href="{{ year_month.link }}">{{ year_month.label }}</a>
                </div>
            {% endfor %}
            <br>
            <br>
            <p align="center">新規作成</p>
            <p align="center">
                <a href="{% url 'timetable:timetable_create' %}">
                    <input type="submit" value="時間割を作成" class="yk-button">
                </a>
            </p>
        </div>
    </div>
    </div>
{% endif %}
{% endblock %}