{% extends 'base_chat.html' %}
{% block content %}
<div class="kokoro">
  <h2>時間割編集ページ</h2>
  <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <div align="center">
          <input type="submit" id="save" value="更新" class="yk-button">
      </div>
  </form>
    <div align="center">
         <a href="{% url 'timetable:timetable_list' %}">
           <input type="submit" value="キャンセル" class="yk-button">
       </a>
    </div>
</div>
{% endblock %}