{% extends 'base_chat.html' %}
{% block content %}
    <div>
        <h1>{{ timetable.day }}のじかんわり</h1>
        <div>
            <p>あさのかい</p>
            <p>１じかんめ : {{ timetable.FirstPeriod }}</p>
            <p>２いかんめ : {{ timetable.SecondPeriod }}</p>
            <p>３じかんめ : {{ timetable.ThirdPeriod }}</p>
            <p>４じかんめ : {{ timetable.FourthPeriod }}</p>
            <p>きゅうしょく</p>
            <p>ひるやすみ</p>
            <p>５じかんめ : {{ timetable.FifthPeriod }}</p>
            <p>６じかんめ : {{ timetable.SixthPeriod }}</p>
            <p>そうじ</p>
            <p>おわりのかい</p>
            <p>ひつようなもの：<br>
                {{ timetable.text | linebreaksbr }}
            </p>
        </div>
    </div>
    <p>
        <a href="{% url 'timetable:lunchmenu_detail' timetable.id %}">きょうのきゅうしょくのこんだて</a>
    </p>
    <p>
        <a href="{% url 'timetable:timetable_list'　%}">
            <input type="submit" value="じかんわりいちらんにもどる">
        </a>
    </p>
{% endblock %}