{% extends 'base_timetable.html' %}
{% block content %}
    <h1>時間割 一覧ページ</h1>
    <div>
        {% for timetable in timetable_list %}
            <a href="{% url 'timetable:timetable_detail' timetable.id %}">{{ timetable.day }}</a>
            <a href="{% url 'timetable:timetable_update' timetable.id %}">更新</a>
            <a href="{% url 'timetable:timetable_delete' timetable.id %}">削除</a>
            <br>
            <br>
        {% endfor %}
    </div>
    <a href="{% url 'timetable:timetable_create' %}">
        <input type="submit" value="時間割を作成">
    </a>
{% endblock %}