body{
  height: 100%;
  width: 100%;
  background-color: #ffffe0;
}
header {
  top: 0px;
  left: 10px;
  width: 15%;
  height: 86%;
  padding: 40px;
  margin: 20px;
  background: linear-gradient(to bottom right, #ffa500, #ffff66);
  align-items: center;
  position: fixed;
  border: solid 4px #000000;
  border-radius: 20px;
}

.title {
  padding: 10px;
  text-align: center;
}
.menu-group{
  margin-left: auto;
  margin-right: auto;
}
.main {
  top: 0px;
  width: 40%;
  height: 1000%;
  background: linear-gradient(to bottom right, #ffa500, #ffff66);
  padding: 70px;
  margin-left: auto;
  margin-right: auto;
  border: solid 4px #000000;
  border-radius: 20px;
  overflow-x: hidden;
}
.rightside-contents {
  top: 0px;
  right: 10px;
  width: 15%;
  height: 86%;
  float: right;
  background: linear-gradient(to bottom right, #ffa500, #ffff66);
  align-items: center;
  position: fixed;
  padding: 40px;
  margin: 20px;
  z-index: -1;
  border: solid 4px #000000;
  border-radius: 20px;
}
.rightside-contents-form {
  top: 0px;
  right: 10px;
  width: 15%;
  height: 86%;
  float: right;
  background: linear-gradient(to bottom right, #ffa500, #ffff66);
  align-items: center;
  position: fixed;
  padding: 40px;
  margin: 20px;
  z-index: 1;
  border: solid 4px #000000;
  border-radius: 20px;
}

.menu-item{
    position:relative;
    width:80%;
    height:10%;
    background-color:#afeeee;
    border:2px solid #000000;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 20px;
    text-align: center;
    box-shadow: -2px -2px 2px #999 inset;
    border-radius: 20px;

}
.menu-item:hover {
	background-color: #2feded;
	color: white;
}
.menu-item:active {
	box-shadow: 2px 2px 2px #999 inset;
	color: transparent;
	text-shadow: 2px 2px 0px white;
	background-color: #2ee6e6;
}


.menu-item .Link{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.ohanasiBox{
    width: 100%;
    height: 100%;
    margin-top: 20px;
    margin-buttom: 30px;
    padding:10px;
    background: #afeeee;
    border:2px solid #000000;
    position: relative;/*親要素に記入*/
    border-radius: 10px;

}

.button{
    position:relative;
    width:30%;
    height:10%;
    background-color:#afeeee;
    border:2px solid #000000;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    box-shadow: -2px -2px 2px #999 inset;
    border-radius: 100px;
    float: left;
}
.button:hover {
	background-color: #2feded;
	color: white;
}
.button:active {
	box-shadow: 2px 2px 2px #999 inset;
	color: transparent;
	text-shadow: 2px 2px 0px white;
	background-color: #2ee6e6;
}
.chat-image{
    width:300px;
    height:auto;
}