.yyk-button {
    display: inline-block;
    color: #fff;
    background: linear-gradient(to bottom, #00acee, #0072e0);
    font-size: 18px;
    font-weight: 500;
    padding: 12px 26px;
    border-radius: 100px;
    border: 3px solid transparent;
    text-decoration: none;
    cursor: pointer;
}
.yyk-button--outline {
    background: transparent;
    color: var(--color-brand-primary);
    border-color: var(--color-brand-primary);
}

.yyk-button:hover {
    color: #000000;
     background: linear-gradient(to bottom, #7fffd4, #00ffff);
}

.ykdl-button {
    display: inline-block;
    color: #fff;
    background: linear-gradient(to bottom, #e0005d, #e00004);
    font-size: 18px;
    font-weight: 500;
    padding: 12px 26px;
    border-radius: 100px;
    border: 3px solid transparent;
    text-decoration: none;
    cursor: pointer;
}
.ykdl-button:hover {
    color: #000000;
     background: linear-gradient(to bottom, #ff99cf, #ff4dac);
}

.ykcc-button {
    display: inline-block;
    color: #fff;
    background: linear-gradient(to bottom, #00acee, #0072e0);
    font-size: 18px;
    font-weight: 500;
    padding: 12px 26px;
    border-radius: 100px;
    border: 3px solid transparent;
    text-decoration: none;
    cursor: pointer;
}
.ykcc-button:hover {
    color: #000000;
    background: linear-gradient(to bottom, #7fffd4, #00ffff);
}

.yk-button{
    display: inline-block;
    position:relative;
    width:100%;
    height:10%;
    background-color:#afeeee;
    border:1px solid #2feded;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: -2px -2px 2px #999 inset;
    border-radius: 100px;
    cursor: pointer;
}

.yk-button:hover {
	background-color: #2feded;
	color: white;
}
.yk-button:active {
	box-shadow: 2px 2px 2px #999 inset;
	color: transparent;
	text-shadow: 2px 2px 0px white;
	background-color: #2ee6e6;
}}