{% extends 'base_chat.html' %}
{% block content %}
<div class="block_a">
    <div style="display:inline-flex">
        <form action ="" method=""GET>
            {{ form.as_div }}<button type="submit">けんさく</button>
        </form>
    </div>
</div>
<div class="block_b">
    <div align="center">
<h1>おしらせ</h1>


{% for kiji in kiji_list %}
    <h1><a href="{% url 'blog:kiji_detail' kiji.pk %}">{{ kiji.title }}</a></h1>  {{ kiji.text | truncatechars:20 }} / {{ kiji.created_at }}
<!--コンテキスト使わないで表示-->
{% for tag in kiji.tags.all %}
    {{ tag.name }}
{% endfor %}
{% for comment in kiji.comment_set.all %}
<div>
    {{ comment.name }}
    {{ comment.text | truncatechars:20}}
</div>
{% endfor %}
<p>
    {% if user.age > 17 %}
<a href="{% url 'blog:kiji_update' kiji.pk %}">編集</a>
<a href="{% url 'blog:kiji_delete' kiji.pk %}">削除</a>
    {% endif %}
<a href="{% url 'blog:comment_create' kiji.pk %}">コメント</a>
</p>
{% endfor %}
<p>
</div>
    </div>
<div class="block_c">

</p>
    <h1>MENU</h1>
    {% if user.age > 17 %}
    <a href="{% url 'blog:kiji_create' %}">とうこう</a>
    {% endif %}
    <a href="{% url 'chat:chat_list' %}">chatlist</a>
    <a href="{% url 'homework:homework' %}">homeworklist</a>
    <a href="{% url 'timetable:timetable_list' %}">timetablelist</a>
    <a href="{% url 'accounts:logout' %}">Logout</a>
    {{ access_text }}
    文字サイズ
    <script src="/static/js/kawakami.js"></script>
    <button class="size-button" data-font="12">小</button>
    <button class="size-button active" data-font="16">中</button>
    <button class="size-button" data-font="20">大</button>
</div>

{% endblock %}