{% extends 'base_chat.html' %}
{% block content %}
<div align="center">
    {% if user.age > 17 %}
    <div class ="kokoro">
        <form action ="" method=""GET>
            {{ form.as_div }}<button type="submit" class="nico">検索</button>
        </form>
<p><h2>おしらせ</h2></p>

{% for kiji in kiji_list %}
<div class="box2">
        <h3><a href="{% url 'blog:kiji_detail' kiji.pk %}">{{ kiji.title }}</a></h3>  {{ kiji.text | truncatechars:20 }} / {{ kiji.created_at }}
<!--コンテキスト使わないで表示-->
{% for tag in kiji.tags.all %}
    {{ tag.name }}
{% endfor %}
{% for comment in kiji.comment_set.all %}
<div>
    {{ comment.name }}
    {{ comment.text | truncatechars:20}}
</div>
{% endfor %}
<p>
<a href="{% url 'blog:kiji_update' kiji.pk %}">編集</a>
<a href="{% url 'blog:kiji_delete' kiji.pk %}">削除</a>
<a href="{% url 'blog:comment_create' kiji.pk %}">コメント</a>
</p>
</div>
<br>
{% endfor %}

<div class="rightside-contents-form">
    <div class="box">
    <br>
    ログインユーザー <br>{{ user.username }}<br>
    <a href="{% url 'accounts:login' %}">ログアウト</a>
    </div>
    <p>
    貴方で{{ access_text }}回目のアクセスです
    </p>
</div>
</div>

    {% else %}

    <div class ="nico">
        <form action ="" method=""GET>
            {{ form.as_div }}<button type="submit" class="nico">けんさく</button>
        </form>
<p><h2>おしらせ</h2></p>
{% for kiji in kiji_list %}
<div class="box2">
    <h1><a href="{% url 'blog:kiji_detail' kiji.pk %}">{{ kiji.title }}</a></h1>  {{ kiji.text | truncatechars:20 }} / {{ kiji.created_at }}
<!--コンテキスト使わないで表示-->
{% for tag in kiji.tags.all %}
    {{ tag.name }}
{% endfor %}
{% for comment in kiji.comment_set.all %}
<div>
    {{ comment.name }}
    {{ comment.text | truncatechars:20}}
</div>
{% endfor %}
<p>
<a href="{% url 'blog:comment_create' kiji.pk %}">コメント</a>
</p>
</div>
<br>
{% endfor %}
</p>
<div class="rightside-contents-form">
    <div class="box">
    <br>
    ログインユーザー <br>{{ user.username }}<br>
    <br><br>
    <a href="{% url 'accounts:login' %}">ログアウト</a>
    </div>
    <p>
    きみが{{ access_text }}かいめのアクセスだよ！
    </p>
</div>
</div>
    {% endif %}
</div>

{% endblock %}
