{% extends 'base.html' %}
{% block content %}

<div align="center">
<form action ="" method=""GET>
    {{ form.as_div }}<button type="submit">検索</button>
</form>
<h1>おしらせ</h1>
<!--for articleのarticleが下のarticle.tags.allのarticleと対応してる-->
{% for kiji in kiji_list %}
    <h1>{{ kiji.title }}</h1>  {{ kiji.text | truncatechars:20 }} / {{ kiji.created_at }}
<!--コンテキスト使わないで表示-->
{% for tag in kiji.tags.all %}
    {{ tag.name }}
{% endfor %}
{% for comment in kiji.comment_set.all %}
<div>
    {{ comment.name }}
    {{ comment.text }}
</div>
{% endfor %}
<p>
<a href="{% url 'blog:kiji_update' kiji.pk %}">編集</a>
<a href="{% url 'blog:kiji_delete' kiji.pk %}">削除</a>
<a href="{% url 'blog:comment_create' kiji.pk %}">コメント</a>
</p>
{% endfor %}
<p>
<a href="{% url 'blog:kiji_create' %}">記事作成</a>
</p>
    <h1>MENU</h1>
    <a href="{% url 'chat:chat_list' %}">chatlist</a>
    <a href="{% url 'homework:homework' %}">homeworklist</a>
    <a href="{% url 'timetable:timetable_list' %}">timetablelist</a>
</div>
{% endblock %}