{% extends 'base_chat.html' %}

{% block content %}

{% if user.age > 17 %}
<h1>トークテーマ投稿</h1>
<form action="" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form.as_div }}
  <button class="button" type="submit">投稿</button>
</form>
<hr>
{% else %}
<h1>おはなしをつくる</h1>
<form action="" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form.as_div }}
  <button class="button" type="submit">とうこうする</button>
</form>
<hr>
{% endif %}

<div class="rightside-contents">

</div>

{% endblock %}
