{% extends 'base_chat.html' %}
{% block content %}

    <h1>{{ chat.title }}</h1>
    <p>投稿者：{{ chat.upname }}</p>
    {% if chat.image %}
    <img class="chat-image" src="{{ chat.image.url }}/">
    {% endif %}
    <p>{{ chat.text }}</p>
    <p>投稿日：{{ chat.created_at|date:'Y/m/d/G:i'}}</p>
    <p>カテゴリー：{{ chat.category }}</p>
    <p>
        タグ：
        {% for tag in chat.tags.all %}
            {{ tag.name }}
        {% endfor %}
    </p>
    <p>
        <a href="{% url 'chat:chat_delete' chat.pk %}">この投稿を削除する</a>
    </p>
    <hr>

{% for comment in chat.comment_set.all %}
    <div>
        <p>{{ comment.name }}</p>
        <p>{{ comment.text | linebreaks }}</p>
    </div>
    <hr>
{% endfor %}

<!-- コメント機能 -->
<div class="rightside-contents-form">
    <form action="" method="POST">
      {% csrf_token %}
      {{ form.as_div }}
      <button type="submit">送信</button>
    </form>
</div>
<!-- ここまで -->

<!--<a href="{% url 'chat:chat_list' %}">いちらんにもる</a>-->
{% endblock %}