{% extends 'base.html' %}
{% block content %}

    <h1>{{ chat.title }}</h1>
    <p>{{ chat.text }}</p>
    <p>{{ chat.created_at|date:'Y/m/d'}}</p>
    <p>{{ chat.category }}</p>
    <p>
        {% for tag in chat.tags.all %}
            {{ tag.name }}
        {% endfor %}
    </p>
    <hr>

{% for comment in chat.comment_set.all %}
    <div>
        <p>{{ comment.name }}</p>
        <p>{{ comment.text | linebreaks }}</p>
    </div>
    <hr>
{% endfor %}
<a href="{% url 'chat:comment_create' chat.id %}">コメント作成ページへ</a>
    <hr>
<a href="{% url 'chat:chat_list' %}">いちらんにもる</a>
{% endblock %}