<!DOCTYPE html>
  {% load static %}
  <html lang="ja">
  <head>
      <link href="https://fonts.googleapis.com/earlyaccess/nicomoji.css" rel="stylesheet">
      <link href="https://fonts.googleapis.com/earlyaccess/kokoro.css" rel="stylesheet">
      <link rel="stylesheet" href="{% static 'css/style_chat.css' %}?a=2">
      <link rel="stylesheet" href="{% static 'css/kawakami.css' %}">
      <link rel="stylesheet" href="{% static 'css/yasu.css' %}">
      <link rel="stylesheet" href="{% static 'css/erena.css' %}">
      <link rel="icon" type="image/png" href="{% static 'icon/favicon2.ico' %}">
      <title>{% block title %}ランセル.net{% endblock %}</title>
  </head>
  <body>
  {% if user.age > 17 %}
    <div class ="kokoro">
        <header>
            <a href="{% url 'blog:home' %}"> <img src="/static/weblogo2.png" class="logo" ></a>
        <nav class="nav">
            <div class="menu-item">記事作成<a class="Link" href="{% url 'blog:kiji_create' %}"></a></div>
            <div class="menu-item">スレッド一覧<a class="Link" href="{% url 'chat:chat_list' %}"></a></div>
            <div class="menu-item">スレッドを立てる<a class="Link" href="{% url 'chat:chat_create' %}"></a></div>
            <div class="menu-item">宿題一覧<a class="Link" href="{% url 'homework:homework_list' %}"></a></div>
            <div class="menu-item">提出一覧<a class="Link" href="{% url 'homework:homework_teacher' %}"></a></div>
            <div class="menu-item">宿題作成<a class="Link" href="{% url 'homework:homework_create' %}"></a></div>
            <div class="menu-item">時間割一覧<a class="Link" href="{% url 'timetable:timetable_list' %}"></a></div>
            <div class="menu-item">時間割作成<a class="Link" href="{% url 'timetable:timetable_create' %}"></a></div>
        </nav>
      </header>
    </div>
　{% else %}
    <div class="nico">
        <header>
            <a href="{% url 'blog:home' %}"><img src="/static/weblogo2.png" class="logo"></a>
        <nav class="nav">
            <div class="menu-item">おはなしいちらん<a class="Link" href="{% url 'chat:chat_list' %}"></a></div>
            <div class="menu-item">おはなしつくる<a class="Link" href="{% url 'chat:chat_create' %}"></a></div>
            <div class="menu-item">しゅくだい<a class="Link" href="{% url 'homework:homework_list' %}"></a></div>
            <div class="menu-item">しゅくだいていしゅつ<a class="Link" href="{% url 'homework:homework_student' %}"></a></div>
            <div class="menu-item">じかんわり<a class="Link" href="{% url 'timetable:timetable_list' %}"></a></div>
        </nav>
      </header>
    </div>
  {% endif %}

      <div class="main">
          {% block content %}{% endblock %}
      </div>
<div class="rightside-contents">

</div>
  </body>

  </html>