<!DOCTYPE html>
  {% load static %}
  <html lang="ja">
  <head>
      <link rel="stylesheet" href="{% static 'css/style_chat.css' %}">
      <link rel="stylesheet" href="{% static 'css/kawakami.css' %}">
      <link rel="stylesheet" href="{% static 'css/yasu.css' %}">
      <link rel="stylesheet" href="{% static 'css/erena.css' %}">
      <link rel="icon" type="image/png" href="{% static 'icon/favicon.ico' %}">
      <title>{% block title %}(仮称)小学生専用Webサイト{% endblock %}</title>
  </head>
  <body>
      <header>
        <h1 class="title">タイトル</h1>
        <nav class="nav">
            <div class="menu-item">トップページ<a class="Link" href="{% url 'blog:home' %}"></a></div>
            <div class="menu-item">チャット<a class="Link" href="{% url 'chat:chat_list' %}"></a></div>
            <div class="menu-item">話をつくる<a class="Link" href="{% url 'chat:chat_create' %}"></a></div>
            <div class="menu-item">しゅくだい<a class="Link" href="{% url 'homework:homework_list' %}"></a></div>
            <div class="menu-item">しゅくだい提出<a class="Link" href="{% url 'homework:homework_student' %}"></a></div>
            <div class="menu-item">じかんわり<a class="Link" href="{% url 'timetable:timetable_list' %}"></a></div>
            <div class="menu-item">じかんわり作成<a class="Link" href="{% url 'timetable:timetable_create' %}"></a></div>
        </nav>
      </header>

      <div class="main">
          {% block content %}{% endblock %}
      </div>
<div class="rightside-contents">

</div>
  </body>

  </html>